h1 {
	color:aqua;
}

h3 {
	color:white;
}

span {
	color:white;
	font-weight:  bolder;
}
strong {
	color:white;
}
th, td {
    border: solid 3px aqua;
}

tr:nth-child(odd) {
    background-color: rgba(221, 221, 221, 0.096)
}
.blanco {
    color: white;
}